@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap');

html,
body {
  background-color: #e6e6e6;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  padding: 15px;
  margin-bottom: 30px;
}

header {
  display: block;
  justify-content: stretch;
  align-items: baseline;
  margin: 0;
  padding: 0;
  background-color: #333745;
  border-bottom: 10px solid #062f4f;
}

header > p {
  display: relative;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  width: 300px;
  font-weight: 100;
  color: white;
}

.icon {
  font-size: 0.8rem;
}
small {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 5px 20px;
}

a {
  /* color: #f7ce3e; */
  color: #ff9f1c;
  text-decoration: none;
  position: relative;
}
a:hover {
  color: #f7ce3e;
  font-weight: 400;
}

.display-1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0;
  padding: 30px;
  color: #ffffff;
}

a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(2, 0.5);
  transform: scaleX(2, 0.5);
}

footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #062f4f;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

/* table headers */
.tabulator-header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding-top: 0px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #1a2930;
  background-color: #0a1612;
  color: #1a2930;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.tabulator {
  font-size: 18px;
  line-height: 1.5;
}
